{% load i18n static cms_tags menu_tags sekizai_tags compress %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
    <title>
        {% block title %}
            {% if settings.user.title %}{{ settings.user.title }} {% endif %}
            {% page_attribute "page_title" %}
        {% endblock title %}
    </title>
    <link rel="canonical" href="https://{{ settings.config.domain }}{{ request.path }}" />

    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <meta name="description" content="{% page_attribute meta_description %}"/>
    <meta name="keywords" content="{% page_attribute meta_keywords %}"/>
    {% render_block "css" %}

    {% compress css %}
        {% block css %}{% endblock %}
        {% include 'css.html' %}
        <link href="{% static "flag-icons/css/flag-icons.min.css" %}" rel="stylesheet"/>

        <link href="{% static "extras.css" %}" rel="stylesheet"/>
        <link href="{% static "theme.scss" %}" rel="stylesheet" type="text/x-scss"/>
    {% endcompress %}

</head>
<body>
{% cms_toolbar %}

<div>
    {% include 'header.html' %}
    {% include 'navigation.html' %}
    <main class="container">
        {% block content %}{% endblock content %}
    </main>
    {% include 'footer.html' %}
</div>

{% render_block "js" %}
<script src="{% url 'javascript-catalog' %}"></script>

{% compress js %}
    <script src="{% static "bootstrap/dist/js/bootstrap.bundle.min.js" %}" crossorigin="anonymous"></script>
    <script src="{% static "@fortawesome/fontawesome-free/js/all.min.js" %}" crossorigin="anonymous"></script>
    <script src="{% static "theme.js" %}" crossorigin="anonymous"></script>
    <script>
        // Bootstrap theme based on prefers-color-scheme
        const prefersQuery = window.matchMedia('(prefers-color-scheme: dark)')

        function setBootstrapTheme(e) {
            const mode = e.matches ? 'dark' : 'light'
            document.documentElement.setAttribute('data-bs-theme', mode)

            const logos = document.getElementsByClassName("logo");
            for (var i = 0; i < logos.length; i++) {
                const logo = logos.item(i).getAttribute('data-logo-' + mode);
                if (logo) {
                    logos.item(i).src = logo;
                }
            }
        }

        // on change
        prefersQuery.addEventListener("change", setBootstrapTheme)
        // on load
        setBootstrapTheme(prefersQuery)

        // bootstrap tooltips
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
    {% block js %}{% endblock %}
{% endcompress %}
</body>
</html>
